

#webgl{
    position: absolute;
    width: 80%;
    height: 100%;
    //background-color: grey;

}

#sidebar{
    position: absolute;
    left: 80%;
    width: 20%;
    height: 100%;
    //background-color: blue;
}